section {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.display {
    display: block !important;
}

.background-section {
    background-color: rgba(255, 255, 255, 0.5);
}

.background-day,
.background-night {
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
    height: 130%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.background-day {
    background-image: url(../../public/images/sunny_gif.gif);
}
.background-night {
    background-image: url(../../public/images/moon_gif.gif);
}

#search-btn {
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .background-day,
    .background-night {
        height: 180%;
    }
}

@media only screen and (max-width: 700px) {
    .background-day,
    .background-night {
        height: 240%;
    }
}

@media only screen and (max-width: 600px) {
    .background-day,
    .background-night {
        height: 200%;
    }
}